Django>=5.2,<6.0
djangorestframework>=3.15,<4.0
django-environ>=0.11.2
python-decouple==3.8
Pillow>=10.3.0
psycopg2-binary>=2.9.9
celery==5.3.4
redis==5.0.1
xhtml2pdf>=0.2.16
django-filter>=24.0
django-cors-headers==4.3.1
python-dateutil==2.8.2
pytz==2023.3
openai>=1.30.0
gunicorn>=21.2.0
whitenoise[brotli]>=6.6.0
