{# Renders a single BoundField: {% include "backoffice/_form_field.html" with field=form.name %} #}
<div class="bo-form__group{% if field.errors %} bo-form__group--error{% endif %}">
    <label class="bo-form__label{% if field.field.required %} bo-form__label--required{% endif %}" for="{{ field.id_for_label }}">
        {{ field.label }}
    </label>
    {{ field }}
    {% if field.help_text %}
        <p class="bo-form__help">{{ field.help_text }}</p>
    {% endif %}
    {% for error in field.errors %}
        <p class="bo-form__error">{{ error }}</p>
    {% endfor %}
</div>
